<div class = 'container'>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('man.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>Hi! I am Christian Ted Ochoa. I am an IT student of the University of San Carlos. I am from the Phiilippines.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('gamepad.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>I love video games! They make my computers feel alive. I play them to feel happy.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('html.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>I love to code as well! Coding makes me feel like a wizard that can take over cyberspace. I love to code to help the community.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('happy.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>For this year, I want to be healthy and happy!</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('star.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>In the near future, I want to be a game programmer. I want to make the Philippines a renowned producer of games!!!</p>
		</div>
	</div>
</div>