<div class = 'container'>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('my manager.png', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>My Manager</h2>
			<p>
				MyManager is an inventory management system software made in Java. It keeps track of a businesses’ employees, products, and orders. It can also give up-to-date statistics and print out reports.
			</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('geekbook.png', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>Geekbook</h2>
			<p>
				Geekbook is a social networking site made in HTML, Bootstrap, and PHP. It has user, friend, posting, messaging, and CMS modules.
			</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('3d_3.jpg', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>Toy Race Car</h2>
			<p>
				The toy race car was modeled in 3ds max, textured in photoshop, and rendered with NVidia's mental ray on 3ds max.
			</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('Game_1.PNG', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>Infinite Runner App</h2>
			<p>
				The infinite runner app was made in Unity for Android. It was designed to run forever (obviously).
			</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('Game_2.PNG', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>Racing Game</h2>
			<p>
				The racing game was also made in Unity but for the PC. It also features an AI enemy to challenge the player.
			</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('Game_3.PNG', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>Maze Game</h2>
			<p>
				The 3d maze game was made in Unity for the PC. It features cel-shaded graphics and one tricky maze. You have to escape the maze together with the boulder before time expires to win.
			</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('event_2.jpg', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>Film Fest Poster</h2>
			<p>
				This is the poster I made for our team's entry in last year's USC film festival. It was composited and retouched in Photoshop. I was very happy to know that it won people's choice for best poster!
			</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-12 tile-icon'>
			<%= image_tag('event_3.jpg', :class => 'img img-responsive center-block') %>
		</div>
		<div class = 'col-md-12 tile-body'>
			<h2>Best Supporting Actor</h2>
			<p>
				Another unexpected award I got from that film festival was the best supporting actor award. I am very thankful for that.
			</p>
		</div>
	</div>
</div>